// Copyright @2012 by Evan Moran
// solarized.styl is freely distributable under the MIT license.
//
// A simple mixin to show how awesome stylus is.
//
// Many thanks to:
//
//   Ethan Schoonover for creating solarized:
//   http://ethanschoonover.com/solarized
//
//   LearnBoost for creating stylus:
//   http://learnboost.github.com/stylus/
//
// SOLARIZED        HEX       LIGHT          DARK
// --------------   -------   ------------   ------------
// base03           #002b36   ---            bg
// base02           #073642   ---            bg highlight
// base01           #586e75   emphasis       comment
// base00           #657b83   text           ---
// base0            #839496   ---            text
// base1            #93a1a1   comment        emphasis
// base2            #eee8d5   bg highlight   ---
// base3            #fdf6e3   bg             ---

// Light
solarLightBody = #fdf6e3
solarLightBodyEmphasis = #eee8d5
solarLightText = #657b83
solarLightTextComment = #93a1a1
solarLightTextEmphasis = #586e75

// Dark
solarDarkBody = #002b36
solarDarkBodyEmphasis = #073642
solarDarkText = #839496
solarDarkTextComment = solarLightTextEmphasis
solarDarkTextEmphasis = solarLightTextComment

// Accents
solarYellow =  #b58900
solarOrange = #d75f00
solarRed = #dc322f
solarMagenta = #d33682
solarViolet = #6c71c4
solarBlue = #268bd2
solarCyan = #2aa198
solarGreen = #859900
